<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/Productos">productos</a></li>
    <li><a href="/Nosotros">Nosotros</a></li>
    <li><a href="/Testimonio">Testiminio</a></li>
  </ul>
</nav>

<body>
  {{{body}}}
</body>  

</html>