@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size: 100%;
}

#contenedor {
	width: 1200px;
	background: #8FA68E;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 280px;
}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 100px;
	width: 400px;
	padding: 20px;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
	padding: 20px;
}

/* en la pantalla de 992px o menos establece el color de fondo azul*/

@media screen and (max-width:992px) {

	body {
		
		background-color: #1058cc;
}

#contenedor {
	width: 900px;
	background: #9abaff;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 180px;
}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
	padding: 20px;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
	padding: 20px;
}


/* en la pantalla de 600px o menos establece el color de fondo verde */

@media screen and (max-width:375px) {

	body {
		background-color: #42cc10;
	}

	#contenedor {
		width: 97%;
		background: #26ac69;
		margin: ;
		overflow: hidden;
	}

	nav {
		background: #CC3910;
		float: left;
		width: 500px;
	}

	ul {
		list-style-type: none;
	}

	a {
		color: #F1F2C0;
		text-decoration: none;
	}

	section {
		background: #F1F2C0;
		width: 100%;
		padding: 2%;
	}

	aside {
		background: #CCC59E;
		width: 100%;
		padding: 2%;
	}
}

}